<h1>Paul Donnelly cs4740 semester project</h1>
<a href="main.c">source code</a>
<p>
  This program first enumerates all n-note chords of a given equal
  temperament, collecting any which aren't equivalent under transposion
  to an already-collected chord. I.e. it enumerates classes of chords.
  Then it applies, to each chord, all 3^n voice leadings in which no
  voice moves by more than one step up or down. It prints a table of its
  findings, consisting of: first the rank handling this chord class,
  then the index of that class in the collected list, followed by the
  voice leading in quest, the word "takes", the chord in terms of
  degrees of the edo, the chord resulting from applying the voice
  leading, the index in the initial collection of the resulting chord,
  and finally the chord in "binary" format. The "binary" format uses
  dots to show which notes are not in the chord, and digits to show
  which are. The digits could have been all identical, and are only
  different to aid in identifying the column they fall in.
</p>

<h2>Transpositonally equivalent chords and non-equivalent chords:</h2>
<img src="teq.png">

<h2>Example output.</h2>
<pre>
  <code>
    In 22edo
    Rank 3/4 taking #s 249 below 335.
    R3#249: -1 -1 -1 -1 takes  0  6  9 13 to  21  5  8 12 which is #249 0.....6..9...3........
    R3#249:  0 -1 -1 -1 takes  0  6  9 13 to   0  5  8 12 which is #190 0....5..8...2.........
    R3#249:  1 -1 -1 -1 takes  0  6  9 13 to   1  5  8 12 which is #138 0...4..7...1..........
    R3#249: -1  0 -1 -1 takes  0  6  9 13 to  21  6  8 12 which is #250 0......7.9...3........
    R3#249:  0  0 -1 -1 takes  0  6  9 13 to   0  6  8 12 which is #191 0.....6.8...2.........
    R3#249:  1  0 -1 -1 takes  0  6  9 13 to   1  6  8 12 which is #139 0....5.7...1..........
    R3#249: -1  1 -1 -1 takes  0  6  9 13 to  21  7  8 12 which is #251 0.......89...3........
    R3#249:  0  1 -1 -1 takes  0  6  9 13 to   0  7  8 12 which is #192 0......78...2.........
  </code>
</pre>

<p>
  The size of the equal division of the octave and the size of the
  chords to use (in number of notes) is set by changing the variables
  ``edo'' and ``nchord'' at the top of main.c.
</p>
<p>
  The program does some extra work. It enumerates the n-note chords
  using the worst method: by enumerating *all* 2^edo chords and
  collecting the ones it wants. It probably is not particularly hard
  to enumerate only n-note chords, but this is easier. It also applies
  the identity voice leading (0,0,0,...) to each chord, as well as the
  (-1,-1,-1,...) and (1,1,1,...) voice leadings, which give chords
  that are plainly transpositionally equivalent to the starting chord.
  But the larger the chord size, the less work this is, and it makes
  the code simpler. Enumeration of the chord classes is done serially,
  by all processes, because I don't know how to parallelize it
  efficiently (each additional chord must be checked against each
  previous chord). Then the work of applying voice leadings is split
  up between several MPI processes, which take roughly equal chunks of
  the chord list to process. I would have liked to see more speedup
  from this, but with 4 nodes it was possible to finish processing
  4-chords of 22edo in 8.4s, roughly half the time taken by a single
  process. Another mistake I made was using GMP. I had the idea that
  the program could be run on large edos, and I use bit strings to
  represent chords in them, which requires one bit per note in the
  edo. But processing an edo that won't fit in a machine integer is
  pretty much out of the question, and if I'd used machine integers it
  would almost surely run faster.
</p>

